@font-face {
  font-family: 'ABC Social';
  font-weight: 200;
  font-style: normal;
  src:
    url('../fonts/ABCSocial-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'PP Eiko';
  font-weight: 200;
  font-style: normal;
  src:
    url('../fonts/PPEiko-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'ABC Social';
  font-weight: 300;
  font-style: normal;
  src:
    url('../fonts/ABCSocial-Light.otf') format('opentype');
}

@font-face {
  font-family: 'ABC Social';
  font-weight: 300;
  font-style: italic;
  src:
    url('../fonts/ABCSocial-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'ABC Social';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/ABCSocial-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'ABC Social';
  font-weight: 400;
  font-style: italic;
  src:
    url('../fonts/ABCSocial-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'ABC Social';
  font-weight: 500;
  font-style: italic;
  src:
    url('../fonts/ABCSocial-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'ABC Social';
  font-weight: 600;
  font-style: italic;
  src:
    url('../fonts/ABCSocial-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'PP Eiko';
  font-weight: 300;
  font-style: normal;
  src:
    url('../fonts/PPEiko-Light.otf') format('opentype');
}

@font-face {
  font-family: 'PP Eiko';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/PPEiko-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'PP Eiko';
  font-weight: 500;
  font-style: normal;
  src:
    url('../fonts/PPEiko-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'PP Eiko';
  font-weight: 600;
  font-style: normal;
  src:
    url('../fonts/PPEiko-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'PP Eiko';
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/PPEiko-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'PP Eiko';
  font-weight: 800;
  font-style: normal;
  src:
    url('../fonts/PPEiko-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'PP Eiko';
  font-weight: 900;
  font-style: normal;
  src:
    url('../fonts/PPEiko-Black.otf') format('opentype');
}