/* NAV BAR --------------------------------- */

nav {
  display: flex;
  column-gap: 10px;
  margin-bottom: 150px;
}

.container-nav {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}

.block-nav-border {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 5px;
}




/* BIO -------------------------------------- */



/* PROJECTS -------------------------- */

#aritzia-project {
  display: flex;
  column-gap: 10px;
}

.block-projects-border {
  padding-top: 10px;
  margin-top: 5px;
}

.container-projects {
  width: 33%;
}

.container-projects-cta {
  width: 67%;
}



/* FOOTER ----------------------------------- */

/* HEADERS ---------------------------------- */