/* NAV BAR --------------------------------- */

nav {
  display: flex;
  column-gap: 10px;
}

.container-nav {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}

.block-nav-border {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 5px;
}




/* BIO -------------------------------------- */

#bio {
  display: flex;
  column-gap: 10px;
  margin-top: 250px;
  margin-bottom: 150px;
}


ç

#aritzia-project {
  display: flex;
  column-gap: 10px;
}

.block-projects-border {
  padding-top: 10px;
  margin-top: 5px;
}

.container-projects {
  width: 33%;
}

.container-projects-cta {
  width: 67%;
}

.span-2{
  grid-column-end: span 2;
}
.span-3{
  grid-column-end: span 3;
}
.span-4{
  grid-column-end: span 4;
}
.main-grid{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
/* PROJECT CONTENT -------------------------------------- */

.container-context {
  display: flex;

}

/* FOOTER ----------------------------------- */

/* HEADERS ---------------------------------- */

.block-header {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
}