body {
  margin: 30px;
  background-color: #eeeeee;
  font-family: 'Proto Grotesk', 'PP Eiko', sans-serif;

}

a {
  color: #0A0A0A;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 154%;
  margin: 0;
  text-decoration: none;
  transition: 0.15s;
}

.header {
  font-size: 0.875rem;
  font-weight: normal;
}

.header-static {
  font-size: 0.875rem;
  font-weight: normal;
}

a:hover {
  color: #0114BF;
}

.header-static:hover {
  color: #0A0A0A;
}

img {
  width: 100%;
}

/* NAV BAR --------------------------------- */

.block-nav-border {
  border-top: 1px solid #c7c7c7;
}

/* BIO -------------------------------------- */



/* PROJECTS -------------------------- */

.block-projects-border {
  border-top: 1px solid #c7c7c7;
}

/* FOOTER ----------------------------------- */

/* HEADERS ---------------------------------- */

h1 {
  font-size: 21vw;
  margin: 0;
  line-height: 68.5%;
  color: #0A0A0A;
}

h2 {
  
  font-size: 3rem;
  font-weight: 700;
  line-height: 92%;
  letter-spacing: -0.03em;
  margin: 0;
  color: #0A0A0A;
}

h3 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
  color: #0A0A0A;
}

h4 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 130%;
  letter-spacing: -0.03em;
  margin: 0;
  color: #0A0A0A;
}

p {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 154%;
  margin: 0;
  color: #0A0A0A;
  max-width: 75%;
}