:root {
  --off-black: #505050;
  --off-white: #F8F8F8;
  --off-grey: #9C9C9C;
}

body {
  display: flex;
  background-color: #F8F8F8;
  font-family: 'ABC Social', 'PP Eiko', sans-serif;
}

/* NAV BAR --------------------------------- */

/* BIO -------------------------------------- */



/* PROJECTS -------------------------- */

/* FOOTER ----------------------------------- */

/* HEADERS ---------------------------------- */


h1 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--off-black);
}

h2 {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--off-grey);
}

h3 {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--off-black);
}

h4 {
  font-family: 'PP Eiko';
  font-size: 1rem;
  font-weight: 300;
  color: var(--off-grey);
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 130%;
  color: var(--off-black);
}

a {
  font-size: 1rem;
  font-weight: 300;
  line-height: 130%;
  color: var(--off-black);
}